html {
  box-sizing: border-box;

} *, *:before, *:after {box-sizing: inherit;}

body {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background: black;
  color: white;
  padding: 0 0 0.5em 0.5em;
}

nav h1 {
  font-size: 1.5em;
  line-height: 1em;
}


section {
  border-bottom: 1px solid #efefef;
  padding: 10px;
}

/******MAIN SECTION*******/
.main {
  margin-top: 3em;
  background-image: url(a12-assets/purple-bg.jpeg);
  height: 22em;
  color: white;
  text-align: center;
}

.main h1 {
  font-size: 3em;
  padding-top: 1.9em;
}

.main h2 {
  border: 1px solid white;
  padding: 10px;
  width: 6em;
  margin: auto;
  font-weight: normal;
}

.main h2:hover {
  background-color: white;
  color: black;
}

/******SECTION H1'S*******/
#about h1, #work h1 {
  font-size: 1em;
  margin: 2em 0;
}

/******Latest work section*******/
#work {
 height: 1000px;
}

#work h2 {
  font-size: 1.2em;
  font-variant-caps: all-petite-caps;
  text-align: center;
  padding-top: 4em;
}

article {
  float: left;
  width: 49%;
  height: 21%;
  margin: 1px;
  background-c
  background-repeat: no-repeat;
  background-size: cover;
}

article:hover {
color: blue;
}

/*background image styling
#one {
  background-image: url(a12-assets/1-cocktail.jpeg);
}

#two {
  background-image: url(a12-assets/2-disco.jpeg);
}

#three {
  background-image: url(a12-assets/3-bookstore.jpeg);
}

#four {
  background-image: url(a12-assets/4-traffic.jpeg);
}

#five {
  background-image: url(a12-assets/5-concert.jpg);
}


#six {
  background-image: url(a12-assets/6-nightlife.jpg);
}

#seven {
  background-image: url(a12-assets/7-bar.jpg);
}
*/

/******FOOTER*******/

footer {
  text-align: center;
  clear: both;
}
