html {
  box-sizing: border-box;

} *, *:before, *:after {box-sizing: inherit;}

body {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background: black;
  color: white;
  padding: 0 0 0.8em 0.5em;
  z-index: +10;
}

nav h1 {
  font-size: 1.5em;
  line-height: 1em;
  font-variant-caps: all-petite-caps;
  margin: 15px 10px 0px 0px;
}

nav #icon {
  position: fixed;
  right: 0;
  top: 0;
  margin: 15px 10px 0px 0px;
  font-family: "fontawesome";
  font-weight: normal;
  src: url(font-awesome-4.7.0/fonts/fontawesome-webfont.woff);
}

section {
  padding: 10px;
}

#work, footer {
  border-top: 1px solid #efefef;
}

/******MAIN SECTION*******/
.main {
  margin-top: 3em;
  background-image: url(a12-assets/purple-bg.jpeg);
  height: 22em;
  color: white;
  text-align: center;
  clear: both;
}

.main h1 {
  font-size: 3em;
  padding-top: 1.9em;
}

.main h2 {
  border: 1px solid white;
  padding: 10px;
  width: 35%;
  margin: auto;
  font-weight: normal;
}

.main h2:hover {
  background-color: white;
  color: black;
}

/******SECTION H1'S*******/
#about h1, #work h1 {
  font-size: 1em;
  margin: 2em 0;
}

/******Latest work section*******/


article {
  float: left;
  width: 49%;
  height: 15em;
  margin: 1px;
  background-color: hsla(0, 100%, 100%, 0.5);
  position: relative;
}

article img {
  width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: -10;
}

article:hover {
background-color: hsla(0, 100%, 100%, 0);
}

#work h2 {
  font-size: 1.2em;
  font-variant-caps: all-petite-caps;
  text-align: center;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, 0);
}

#work {
}


/*background image styling
article {
  background-size: cover;
  background-repeat: no-repeat;
}

#one {
  background-image: url(a12-assets/1-cocktail.jpeg);
}

#two {
  background-image: url(a12-assets/2-disco.jpeg);
}

#three {
  background-image: url(a12-assets/3-bookstore.jpeg);
}

#four {
  background-image: url(a12-assets/4-traffic.jpeg);
}

#five {
  background-image: url(a12-assets/5-concert.jpg);
}


#six {
  background-image: url(a12-assets/6-nightlife.jpg);
}

#seven {
  background-image: url(a12-assets/7-bar.jpg);
}
*/

/******FOOTER*******/

footer {
  text-align: center;
  clear: both;
}
