body {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background: black;
  color: white;
  padding: 0.5em;
}

nav h1 {
  font-size: 1.5em;
  line-height: 1em;
}


section {
  border-bottom: 1px solid gray;
  padding: 10px;
}

/******MAIN SECTION*******/
#main {
  margin-top: 4em;
  background-image: url(a12-assets/purple-bg.jpeg);
  height: 20em;
}


#main h1, #main h2 {
  text-align: center;
}

/******FOOTER*******/

footer {
  text-align: center;
}
